body{
    background-color: lightgray
    
}

nav{
    text-align: right;
}

section{
    width: 30%;
    margin: auto;
}
section >h2 {
    text-align: center;
}


.stxt{
    width: 33%;
    float:left;
    text-align: center;
    padding-top: 1em;
    margin-bottom: 15px;
}

.stxt > img {
    height: 30px;
    width: 30px;
    float: left;
}

fieldset{
 
    line-height: 25px;
    background-color: white;
}